.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 2rem;
}

header {
    grid-column: span 2;
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
aside > *:first-child {
    gap: 0.7rem;
}

main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    align-items: start;
    gap: 0.7rem;
}

textarea {
    resize: none;
}